<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<div id="home-container">
			<div id="logo-container-1" class="home-logo-container">
				<img src="images/aspnet.png" />
				<img src="images/sqlserver.png" />
				<img src="images/nodejs.png" />
				<img src="images/mongodb.png" />
			</div>

			<div id="main-container">
				<div id="title-container">
					<h1 class="title"><%= UiText.Home_Title %></h1>
					<h2 class="subtitle"><%= UiText.Home_Subtitle %></h2>
				</div>
				<div id="links-container">
					<a href="<%= Routes.CV %>" target="_blank">
						<div id="link-1" class="link">
							<h3><%= UiText.Link_CV_Title %></h3>
							<p><%= UiText.Link_CV_Description %></p>
						</div> 
					</a>
					<a href="<%= Routes.LiveChat %>"  target="_blank">
						<div id="link-2" class="link">
							<h3><%= UiText.Link_LiveChat_Title %></h3>
							<p><%= UiText.Link_LiveChat_Description %></p>
						</div> 
					</a>
					<a href="<%= Routes.Assessment %>"  target="_blank">
						<div id="link-3" class="link">
							<h3><%= UiText.Link_Assessment_Title %></h3>
							<p><%= UiText.Link_Assessment_Description %></p>
						</div> 
					</a>
				</div>
			</div>
			<div id="logo-container-5" class="home-logo-container">
				<img src="images/typescript.png" />
				<img src="images/knockout.png" />
				<img src="images/react.png" />
				<img src="images/angular.png" />
			</div>
		</div>
	</body>
</html>